#main-header {
  position: relative;
  display: table;
  width: 100%;
  height: 80vh;
  margin-bottom: 5rem;
  text-align: center;
  background: #222 no-repeat center center;
  background-size: cover;
  background-image: url(images/header.jpg);
  overflow: hidden;
  color: white;

  @media #{$small-only} {
    height: 40vh;
  }

  @media #{$medium-only} {
    height: 60vh;
  }

  .main-header-content {
    display: table-cell;
    vertical-align: middle;
  }
}

.page-title {
  font-family: "Rock Salt";
  font-size: 4rem;
}

.page-description {
  @include hide-for-only(small);

  margin-top: 25px;
  font-family: "Rock Salt";
  font-size: 1.2rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.bloglogo {
  font-size: 1.5em;
}
