
@import "settings";
$slick-dot-size: 10px;

@import "~foundation-sites/scss/foundation";

@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

@include foundation-everything;

/* @include foundation-global-styles;
@include foundation-top-bar; */

header.main-header {
  position: relative;
  display: table;
  width: 100%;
  height: 80vh;
  margin-bottom: 5rem;
  text-align: center;
  background: #222 no-repeat center center;
  background-size: cover;
  background-image: url(images/header.jpg);
  overflow: hidden;
}

#navigation-bar {
  /* height: 75px; */
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  transform: translate3d(0, 0, 0);
  transition: visibility 0.5s, opacity 0.5s linear;
}

#navigation-bar.invisible {
  visibility: hidden;
  opacity: 0;
}

#navigation-bar.visible {
  visibility: visible;
  opacity: 1;
}

#slick img {
  height: 580px;
}
