@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import "settings";
@import "header";


@import "~foundation-sites/scss/foundation";

/*

$slick-dot-size: 10px;
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme"; */

@import "~genericons/genericons/genericons";

/* @include foundation-everything(true); */

@include foundation-flex-classes;
@include foundation-flex-grid;

@include foundation-global-styles;
@include foundation-top-bar;
@include foundation-title-bar;

@include foundation-typography;

#navigation-bar {
  /* height: 75px; */
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  transform: translate3d(0, 0, 0);
  transition: visibility 0.5s, opacity 0.5s linear;
}

#navigation-bar.invisible {
  visibility: hidden;
  opacity: 0;
}

#navigation-bar.visible {
  visibility: visible;
  opacity: 1;
}

#slick img {
  height: 580px;
}


@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

html,body { // for demo only
  background: #FAFAFA;
}

.card {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 1px;
  .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
  }
  p {
  margin: 0;
  }
  .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem;
  }
  a {
    color: #ffab40;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
  }
  .image {
    position: relative;
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff;
    }
    img {
      border-radius: 2px 2px 0 0;
    }
  }
}

/*
.inner {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
  border: 1px solid blue;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}
*/
